.swal2-title
{
    font-family:'Questrial',sans-serif;
    font-size:15px;
    color:#EBEBEB;
    font-weight: normal;
}
.swal2-content
{
    font-family:'Questrial',sans-serif;
    font-size:15px;
    color:#EBEBEB;
    font-weight: normal;
}
.swal2-confirm,.swal2-cancel
{
    font-family:'Questrial',sans-serif;
    font-size:15px;
    color:#EBEBEB;
    font-weight: normal;
}
/*--------------------------------------------------*/
::-webkit-scrollbar
{
    width: 30px;
    background-color: #3d3d3d;
    border-radius: 2px;
}
/*::-webkit-scrollbar-track
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: rgba(0,0,0,0.05);
}*/
::-webkit-scrollbar-thumb
{
    background: rgb(128, 127, 127); 
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover
{
   background: #aaa;
}
/*--------------------------------------------------*/
.outer-container-popup-message
{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    overflow:auto;
}
.outer-container-popup-message span
{
    text-align: left;
    margin-top: 10px;
}
.message-container
{
    cursor: pointer;
    background-color: #F2CE5A;
    padding: 0px;
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    border-radius: 4px;
    border: 2px solid rgb(218, 105, 105);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.message-container span
{
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    text-align: left;
}