.swal2-title
{
    font-family:'Questrial',sans-serif;
    font-size:15px;
    color:#EBEBEB;
    font-weight: normal;
}
.swal2-content
{
    font-family:'Questrial',sans-serif;
    font-size:15px;
    color:#EBEBEB;
    font-weight: normal;
}
.swal2-confirm,.swal2-cancel
{
    font-family:'Questrial',sans-serif;
    font-size:15px;
    color:#EBEBEB;
    font-weight: normal;
}
/*--------------------------------------------------*/
::-webkit-scrollbar
{
    width: 30px;
    background-color: #3d3d3d;
    border-radius: 2px;
}
/*::-webkit-scrollbar-track
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: rgba(0,0,0,0.05);
}*/
::-webkit-scrollbar-thumb
{
    background: rgb(128, 127, 127); 
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover
{
   background: #aaa;
}
/*--------------------------------------------------*/