*
{
    user-select: none;
}
html
{
    width:100%;
    min-width:100%;
    max-width:100%;
    height:1080px;
    min-height:1080px;
    max-height:1080px;
}
body
{
    width:100%;
    min-width:100%;
    max-width:100%;
    height:1080px;
    min-height:1080px;
    max-height:1080px;
    background-color: #1e1e1e;
    margin:0px;
}
.structure-header
{
    width:100%;
    height:50px;
    background-color: #333333;
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,.5)!important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.structure-header-inner-container
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    overflow:hidden;
}
.info-filters-container
{
    /*width:130px;*/
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    text-align: left;
    border:none;
    background-color:#3A3A3A ;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:rgb(182, 182, 182);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.logo-container
{
    width:120px;
    overflow: hidden;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width:calc(100% - 560px);*/
}
.logo-container img
{
    height:40px;
}
#usernameContainer
{
    width:130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*margin-left: auto;*/
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    text-align: right;
    font-size: 15px;
    color:#EBEBEB;
}
.section-container
{
    box-sizing: border-box;
    padding:20px;
    width:100% - 40px;
    height:calc(1080px - 50px);
    min-height:calc(1080px - 50px);
    max-height:calc(1080px - 50px);
    display: flex;
    flex-direction: row;
}
#listOuterContainer
{
    width:500px;
    height:100%;
    background-color: #333333;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    /*border-radius: 4px;*/
    flex-direction: column;
    box-sizing: border-box;
}
.listTitleContainer
{
    width: 100%;
    height:50px;
    box-sizing: border-box;
    color:#ddd;
    background-color: #3d3d3d;/*494949*/
    box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.listTitleItem
{
    height:50px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: space-evenly;
}
.listTitleItemRow
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.listTitleItemRow span
{
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    text-align: left;
    font-size: 14px;
}
.listTitleItemRow i
{
    margin-right: 10px;
}
.listTitleContainer input
{
    margin-right: 10px;
    margin-left:auto;
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    height:30px;
    line-height: 30px;
    width:50px;
    text-align: center;
    border:none;
    background-color:#3A3A3A ;
    border-radius: 4px;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    outline:none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:rgb(182, 182, 182);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#listInnerContainer
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding:5px;
    max-height:calc(100% - 50px);
    overflow-y: auto;
    width: 100%;
}
.lotti-item,.cabine_corridoi-item,.kit-item
{
    height: 25px;
    line-height: 25px;
    width: calc(100% - 10px);
    margin:5px;
    border:none;
    outline:none;
    box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.23);
    background-color: #404040;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color:#EBEBEB;
    box-sizing: border-box;
    padding:0px;
    /*padding-left: 10px;*/
    font-weight: normal;
    /*padding-right: 5px;*/
}
.kit-item
{
    min-height: 25px;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    line-height:normal;
}
.misure-traversine-table
{
    width: calc(100% - 80px);
    border-collapse: collapse;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.misure-traversine-table th
{
    border-bottom: 1px solid #ddd;
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color:gray;
    text-align: left;
    padding:5px;
}
.misure-traversine-table td
{
    border-bottom: 1px solid gray;
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color:#ddd;
    text-align: left;
    padding:5px;
}
.lotti-item:focus,.cabine_corridoi-item:focus,.kit-item:focus
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #494949;
    color:#4C91CB;
}
.lotti-item:active,.cabine_corridoi-item:active,.kit-item:active
{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #494949;
}
.lotti-item span,.cabine_corridoi-item span,.kit-item span
{
    margin-right: 10px;
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height:27px;
    height:25px;
}
.lotti-item div,.cabine_corridoi-item div,.kit-item div
{
    margin-right: 10px;
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color:#242424;
    box-sizing:border-box;
    padding-left:10px;
    padding-right:10px;
    /*margin-top:-2px;*/
    height:25px;
    line-height:27px;
    width:40px;
}
#labelLottoSelezionato b,#labelCabinaCorridoioSelezionato b
{
    color:#4C91CB;
}
#pdfContainer
{
    width:calc(100% - 520px); 
    margin-left: 20px;
    background-image: url("../images/logo.png");
	background-position: center center;
	background-repeat: no-repeat;
    height:100%;
    background-color: #333333;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#pdfContainer iframe
{
    width: 100%;
    height: 100%;
    border:none;
}
/*::-webkit-scrollbar
{
    width: 7px;
}
::-webkit-scrollbar-track
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
    background-color: rgba(0,0,0,0.05);
}
::-webkit-scrollbar-thumb
{
    background: rgb(128, 127, 127); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover
{
    background: #aaa; 
}*/
#listInnerContainerSpinner
{
    height:25px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#listInnerContainerSpinner i
{
    color:#ddd;
    margin-right: 5px;
}
#listInnerContainerSpinner span
{
    color:#ddd;
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    font-size: 12px;
}
#poweredBy
{
    position: absolute;
    right:30px;
    bottom:30px;
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color:gray;
}
/*--------------------------------------------------------------------------------------------*/
#raggruppamentoTraversineTable
{
    width:100%;
    border-collapse: collapse;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    min-height: calc(100% - 50px);
    max-height: calc(100% - 50px);
    height: calc(100% - 50px);
    max-width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#raggruppamentoTraversineTable thead
{
    background-color: #404040;
}
#raggruppamentoTraversineTable th
{
    font-family: 'Questrial',sans-serif;
    color:white;
    font-weight: normal;
    font-size:14px;
    text-align: left;
    background-color: transparent;
    padding:10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#raggruppamentoTraversineTable td
{
    text-align: left;
    font-family: 'Questrial',sans-serif;
    color:black;
    font-weight: bold;
    font-size:14px;
    padding:10px;
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    word-wrap: break-word;
}
#raggruppamentoTraversineTable tbody tr
{
    width:100%;
}
#raggruppamentoTraversineTable tbody tr:nth-child(odd)
{
    background-color:rgba(76, 146, 203, 0.199);
}
#raggruppamentoTraversineTable tbody tr:nth-child(even)
{
    background-color:rgb(235, 235, 235);
}
#raggruppamentoTraversineTable tbody
{
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.raggruppamento-traversine-outer-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 4px;
}
.raggruppamento-traversine-table-container
{
    width: 100%;
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.raggruppamento-traversine-title-bar
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #404040;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
}
.raggruppamento-traversine-title-bar span
{
    font-family: 'Questrial',sans-serif;
    font-size: 14px;
    color: #ddd;
}
.raggruppamento-traversine-title-bar i
{
    cursor: pointer;
    color: #ddd;
}