html
{
    width:100%;
    height:100%;
}
body
{
    width:100%;
    height:100%;
    background-color: #1e1e1e;
    margin:0px;
}
.login-outer-container
{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-inner-container
{
    display: flex;
    flex-direction: column;
    /*min-width: 550px;*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #333333;
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.login-title-container
{
    padding:20px;
    box-sizing: border-box;
    background-color: #404040;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 25px;
    color:#EBEBEB;
}
.login-title-container span
{
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    margin-left:10px;
    margin-right:20px;
}
#loginLineaContainer,#loginStazioneContainer,#loginTurnoContainer
{
    width:130px;
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    margin-left:20px;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    border:none;
    background-color:#3A3A3A ;
    border-radius: 4px;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    outline:none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:rgb(182, 182, 182);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#loginLineaContainer:focus,#loginStazioneContainer:focus,#loginTurnoContainer:focus
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #494949;
    color:#EBEBEB;
}
.login-title-container input
{
    margin-left:20px;
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    padding: 10px;
    width:30px;
    text-align: center;
    border:none;
    background-color:#3A3A3A ;
    border-radius: 4px;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    outline:none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:rgb(182, 182, 182);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.login-users-container
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin:5px;
    padding:5px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    min-height: 570px;
    max-height: 570px;
    overflow-y: auto;
}
.login-user-item
{
    border:none;
    outline:none;
    padding:10px;
    margin:10px;
    box-sizing: border-box;
    box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.23);
    background-color: #3A3A3A;
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: 16px;
    color:#EBEBEB;
}
.login-user-item:focus
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #494949;
}
.login-user-item:active
{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #494949;
}
.login-user-item span
{
    margin-left: 15px;
    text-align: left;
    font-family: 'Questrial', sans-serif;
}
.login-user-item div
{
    margin-left: auto;
}
/* width */
::-webkit-scrollbar
{
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
    background-color: rgba(0,0,0,0.05);
}
/* Handle */
::-webkit-scrollbar-thumb
{
    background: rgb(128, 127, 127); 
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
    background: #aaa; 
}
#inputPasswordCambiaLineaStazione
{
    width:350px;
    padding:10px;
    border-radius: 4px;
    background-color: #333333;
    border:2px solid #494949;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color:#ddd;
    margin-top:10px;
}